@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-inter);
}

@theme {
  --breakpoint-desktop: 1200px;

  /* --color-liceqit-background: #d0c7b2; */
  --color-liceqit-background: #fff;
  --color-liceqit-foreground: #1e1e1e;
  --color-liceqit-primary: #294634;
  --color-liceqit-charcoal-grey: #717171;
  --color-liceqit-slide-background: #f1f1f1;
  --color-liceqit-deep-grey: #828282;
}

@layer components {
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }

  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
